body,
html {
    font-family: "Noto Sans Khmer", "Roboto", sans-serif;
}

.nav-sidebar > .nav-item > .nav-link.active {
    background-color: #dc3545 !important;
    color: #ffffff !important;
}

.nav-sidebar .nav-treeview > .nav-item > .nav-link.active {
    background-color: #4e5761 !important;
    color: #fff !important;
}

.nav-tabs .nav-link {
    color: #4e5761 !important;
}

.nav-tabs .nav-link.active {
    color: #dc3545 !important;
    border-top: 3px solid #dc3545 !important;
}

.nav-pills > .nav-item-own > .nav-link.active {
    background-color: #dc3545 !important;
}

.nav-pills > .nav-item-own > .nav-link.active:hover {
    color: #ffffff !important;
}

.nav-pills > .nav-item-own > .nav-link:hover {
    color: #dc3545 !important;
}
