body,
html {
    font-family: "Noto Sans Khmer", "Roboto", sans-serif;
}

@font-face {
    font-family: khmoul;
    src: url("../fonts/KhmerOSmuollight.ttf");
}
@font-face {
    font-family: kh;
    src: url("../fonts/KhmerOSsiemreap.ttf");
}
@font-face {
    font-family: khb;
    src: url("../fonts/KhmerOSbokor.ttf");
}
@font-face {
    font-family: ens;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: enb;
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

.khm,
.khm p {
    font-family: khmoul;
}
.khs,
.khs p {
    font-family: kh;
}
.khb,
.khb p {
    font-family: khb;
}
.ens,
.ens p {
    font-family: ens;
}
.enb,
.enb p {
    font-family: enb;
}

@media print {
    @page {
        size: A4;
    }

    body * {
        visibility: hidden;
    }

    .wrapper,
    .content-wrapper {
        margin: 0 !important;
        padding: 0 !important;
    }

    .card,
    .card-body {
        margin: 0 !important;
        padding: 0 !important;
    }

    #printable-area,
    #printable-area * {
        visibility: visible;
    }

    #printable-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        /* padding-left: 2rem;
        padding-right: 2rem; */
        box-sizing: border-box;
    }
}

.nav-sidebar > .nav-item > .nav-link.active {
    background-color: #dc3545 !important;
    color: #ffffff !important;
}

.nav-sidebar .nav-treeview > .nav-item > .nav-link.active {
    background-color: #4e5761 !important;
    color: #fff !important;
}

.nav-tabs .nav-link {
    color: #4e5761 !important;
}

.nav-tabs .nav-link.active {
    color: #dc3545 !important;
    border-top: 3px solid #dc3545 !important;
}

.nav-pills > .nav-item-own > .nav-link.active {
    background-color: #dc3545 !important;
}

.nav-pills > .nav-item-own > .nav-link.active:hover {
    color: #ffffff !important;
}

.nav-pills > .nav-item-own > .nav-link:hover {
    color: #dc3545 !important;
}
